# Build directories
build/
cmake-build-*/
out/
build-arm64/

# Compiled Object files
*.o
*.obj
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.so
*.so.*
*.dylib
*.dll

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
miot_lan_discovery_demo

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Backup files
*.bak
*.backup
miot_token.json